@model Movie
@{
    ViewBag.Layout = "FullPage";
}
<script type="text/javascript">
    $(document).ready(function () {

        var theWindow = $(window),
            $bg = $('#bgImage'),
            aspectRatio = $bg.width() / $bg.height();

        function resizeBg() {
            var navbarHeight = $('.navbar').first().outerHeight();
            var theWindowHeight = theWindow.height() - navbarHeight;

            if ((theWindow.width() / theWindowHeight) < aspectRatio) {
                $bg
                    .removeClass()
                    .addClass('bgheight');
            } else {
                $bg
                    .removeClass()
                    .addClass('bgwidth');
            }

        }

        theWindow.resize(resizeBg).trigger("resize");

    });
</script>
<section class="movie_header">
    <div id="bgContainer" class="movie_background">
        <img id="bgImage" src="/img/background/@Model.Image" />
    </div>
    <div class="movie_header_content">
        <div class="movie_header_content_top">
            <button class="trailer_button"></button>
        </div>
        <div class="movie_header_content_bottom">
            <div class="container">
                <div class="poster"><img src="/img/posters/@Model.Image" width="200" /></div>
                <div class="details">
                    <div>
                        <h1>
                            <span class="movietitle">@Model.Title</span>
                        </h1>
                    </div>
                    <div class="movie_button_container">
                        <a href="#tickets" class="movie_button">Order tickets</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="down_arrow"></span>
</section>
<div class="darkbackground">
    <div class="container">
        <img src="/img/posters/@Model.Image"/>
    </div>
</div>