@model Movie
@{
    ViewBag.Layout = "FullPage";
}
<script type="text/javascript">
    $(document).ready(function () {

        var theWindow = $(window),
            $bg = $('#bgImage'),
            aspectRatio = $bg.width() / $bg.height();

        function resizeBg() {
            var navbarHeight = $('.navbar').first().outerHeight();
            var theWindowHeight = theWindow.height() - navbarHeight;

            var container = $('.fullpage_container').first();
            container.css('top', navbarHeight + 'px');
            $('.fullpage_bottom').first().css('bottom', navbarHeight + 76 + 'px');

            if ((theWindow.width() / theWindowHeight) < aspectRatio) {
                $bg
                    .removeClass()
                    .addClass('bgheight');
            } else {
                $bg
                    .removeClass()
                    .addClass('bgwidth');
            }

        }

        //theWindow.resize(resizeBg).trigger("resize");

    });
</script>
<div class="fullpage row">
    <div id="bgContainer" class="fullpage_background">
        <img id="bgImage" class="background-image" src="/img/background/@Model.Image" />
    </div>
    <div class="fullpage_container">
        <div class="fullpage_top">
            <button class="trailer_button"></button>
        </div>
        <div class="fullpage_bottom">
            <div class="container">
                <div class="movieposter"><img src="/img/posters/@Model.Image" width="200" /></div>
                <div class="row">
                    <div>
                        <h1>
                            <span class="movietitle">@Model.Title</span>
                        </h1>
                    </div>
                    <div class="movie_button_container">
                        <a href="#tickets" class="movie_button">Order tickets</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="darkbackground">
    <div class="container">
        <img src="/img/posters/@Model.Image"/>
    </div>
</div>